@model RawMaterialsDetails

<form method="post" asp-action="PostRawMaterialDetails">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Raw Material Details</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row text-center font-weight-bold">
                    <div class="col-2">
                        <label asp-for="RMID"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="Date"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="ChalanNumber"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="Unit"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="BeforeQuantity"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="Remarks"></label>
                    </div>
                </div>
                <div class="form-group row text-center">
                    <div class="col-2">
                        <input asp-for="RMID" class="form-control" />
                        <span asp-validation-for="RMID" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="ChalanNumber" class="form-control" />
                        <span asp-validation-for="ChalanNumber" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="BeforeQuantity" class="form-control" />
                        <span asp-validation-for="BeforeQuantity" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="Remarks" class="form-control" />
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row text-center font-weight-bold">
                    <div class="col-2">
                        <label asp-for="RecievedeQuantity"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="TotalQuantity"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="IssuedQuantity"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="BalanceQuantity"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="RequisitionNumber"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="SectionOrDepartment"></label>
                    </div>
                   

                </div>
                <div class="form-group row text-center">
                    <div class="col-2">
                        <input asp-for="RecievedeQuantity" class="form-control" />
                        <span asp-validation-for="RecievedeQuantity" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="TotalQuantity" class="form-control" />
                        <span asp-validation-for="TotalQuantity" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="IssuedQuantity" class="form-control" />
                        <span asp-validation-for="IssuedQuantity" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="BalanceQuantity" class="form-control" />
                        <span asp-validation-for="BalanceQuantity" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="RequisitionNumber" class="form-control" />
                        <span asp-validation-for="RequisitionNumber" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <input asp-for="SectionOrDepartment" class="form-control" />
                        <span asp-validation-for="SectionOrDepartment" class="text-danger"></span>
                    </div>
                    

                </div>
              
                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn-info w-75" value="Add Material Details" />
                            </div>
                            <div class="col">
                                <a asp-action="RawMaterialsDetails" class="btn btn-danger w-75">Back</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</form>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}



