@model Accessories

<form method="post" asp-action="PostAccessories">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Accessories</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row text-center font-weight-bold">

                    <div class="col-2">
                        <label asp-for="AName"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="ATotalQuantity"></label>
                    </div>
                    <div class="col-2">
                        <label asp-for="AUnit"></label>
                    </div>

                    </div>

                    <div class="form-group row text-center">
                        <div class="col-2">
                            <input asp-for="AName" class="form-control" />
                            <span asp-validation-for="AName" class="text-danger"></span>
                        </div>
                        <div class="col-2">
                            <input asp-for="ATotalQuantity" class="form-control" />
                            <span asp-validation-for="ATotalQuantity" class="text-danger"></span>
                        </div>
                      <div class="col-2">
                            <input asp-for="AUnit" class="form-control" />
                            <span asp-validation-for="AUnit" class="text-danger"></span>
                        </div>
                      


                        </div>
                    <div class="form-group row text-center font-weight-bold">

                    </div>

                    <div class="form-group row text-center">

                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn-info w-75" value="Add Accessories" />
                            </div>
                            <div class="col">
                                <a asp-action="AccessoriesLists" class="btn btn-danger w-75">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</form>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}



